body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background: white;
  border-radius: 15px;
  padding: 40px;
  width: 350px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 10px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #2e8b57;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #256b45;
}

p {
  text-align: center;
  margin-top: 15px;
}

a {
  color: #2e8b57;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
.seguridad-debil {
  color: red;
}
.seguridad-media {
  color: orange;
}
.seguridad-fuerte {
  color: green;
}